{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block body %}
  <div class="container">
    {% if user.is_authenticated %}
      <script src="https://sdk.scdn.co/spotify-player.js"></script>
      <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
          const token = '{{ extra.access_token }}';
          const player = new Spotify.Player({
            name: 'MiniSpot',
            getOAuthToken: cb => { cb(token); }
          });

          // Error handling
          player.addListener('initialization_error', ({ message }) => { console.error(message); });
          player.addListener('authentication_error', ({ message }) => { console.error(message); });
          player.addListener('account_error', ({ message }) => { console.error(message); });
          player.addListener('playback_error', ({ message }) => { console.error(message); });

          // Playback status updates
          player.addListener('player_state_changed', state => {
            console.log(state);
            if (!state) {
                return;
            }
            let {current_track, next_tracks: [next_track]} = state.track_window;
            $("#song-name").text(current_track.name);
            $("#song-artist").text(current_track.artists[0].name);
            $("#song-picture").attr("src", current_track.album.images[0].url);

            // If paused is false: show pause.svg
            // else show play.svg
          });

          // Ready
          player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);
          });

          // Not Ready
          player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
          });

          // Connect to the player!
          player.connect();

          $("#pause").on("click", function(e) {
            e.preventDefault();
            player.pause().then(() => {
              player.getCurrentState().then(state => { console.log(state); });
            });
          });
          $("#play").on("click", function(e) {
            e.preventDefault();
            player.resume().then(() => {
              player.getCurrentState().then(state => { console.log(state); });
            });
          });
        };
      </script>
      <div class="player-wrapper">
        <div class="player-background container">
          <div class="player-navbar">
            <!-- <a href="#">Back</a>
            <a href="#">Profile</a> -->
          </div>
          <div class="player-song">
            <span id="song-name">Nothing Playing</span>
          </div>
          <div class="player-artist">
            <span id="song-artist">N/A</span>
          </div>
          <div class="player-art">
            <center>
              <img src="{% static 'images/placeholder_record.svg' %}" id="song-picture" class="rounded-circle">
            </center>
          </div>
          <div class="player-buttons">
            <div class="row">
              <div class="col-6">
                <center>
                  <img src="{% static 'images/play.svg' %}">
                </center>
              </div>
              <div class="col-6">
                <center>
                  <img src="{% static 'images/next.svg' %}">
                </center>
              </div>
          </div>
        </div>
      </div>
    {% else %}
      <h1>Hello World</h1>
    {% endif %}
  </div>
{% endblock %}
